In [82]:
import pandas as pd
import numpy as np
from skimpy import skim
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix, classification_report
from sklearn.ensemble import RandomForestClassifier

In [83]:
# Load data
df = pd.read_csv('data_set/train.csv')
df_copy = df.copy()

In [84]:
# Data Cleaning
df_cat = df.select_dtypes(include='object').columns
df_cat = df.drop(columns=['Loan_ID'])
for value in df_cat:
    df[value] =df[value].fillna(df[value].mode()[0])

In [88]:
df_cat.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [79]:
# Data Preprocessing
df_num = df.select_dtypes(include=['int64', 'float64']).columns
for value in df_num:
    df[value] =df[value].fillna(df[value].median())

In [90]:
df[df_num].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ApplicantIncome    614 non-null    int64
 1   CoapplicantIncome  614 non-null    float64
 2   LoanAmount         614 non-null    float64
 3   Loan_Amount_Term   614 non-null    float64
 4   Credit_History     614 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 24.1 KB