In [28]:
import pandas as pd
import numpy as np
from skimpy import skim
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [16]:
# Load data
df = pd.read_csv('data_set/train.csv')
df_copy = df.copy()

# Data Cleaning and Preprocessing for Categorical Data

In [23]:
# inclure les colonnes de type object sauf la colonne 'Loan_ID'
df_cat = df.select_dtypes(include=['object']).drop('Loan_ID', axis=1)

In [24]:
for value in df_cat:
    df[value] =df[value].fillna(df[value].mode()[0])

In [29]:
df_cat.head()

,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,Urban,Y
1,Male,Yes,1,Graduate,No,Rural,N
2,Male,Yes,0,Graduate,Yes,Urban,Y
3,Male,Yes,0,Not Graduate,No,Urban,Y
4,Male,No,0,Graduate,No,Urban,Y

In [35]:
# replace the categorical values with the numerical values
df_cat = df_cat.replace({'Gender':{'Male':0, 'Female':1}, 
                         'Married':{'Yes':1, 'No':0},
                         'Dependents':{'3+':3, '0':0, '1':1, '2':2},
                         'Education':{'Graduate':1, 'Not Graduate':0}, 
                         'Self_Employed':{'Yes':1, 'No':0}, 
                         'Property_Area':{'Urban':0, 'Rural':1, 'Semiurban':2}, 
                         'Loan_Status':{'Y':1, 'N':0}})

C:\Users\pnii\AppData\Local\Temp\ipykernel_22200\4076419969.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_cat = df_cat.replace({'Gender':{'Male':0, 'Female':1},

In [21]:
# Data Preprocessing
numeric = df.select_dtypes(include=['int64', 'float64']).columns
for value in numeric:
    df[value] =df[value].fillna(df[value].median())

df_num = df[numeric]

In [36]:
# Concatenate the two dataframes
df_concat = pd.concat([df_cat, df_num], axis=1)
df_concat.head()

,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,0,0,0,1,0,0,1,5849,0.0,128.0,360.0,1.0
1,0,1,1,1,0,1,0,4583,1508.0,128.0,360.0,1.0
2,0,1,0,1,1,0,1,3000,0.0,66.0,360.0,1.0
3,0,1,0,0,0,0,1,2583,2358.0,120.0,360.0,1.0
4,0,0,0,1,0,0,1,6000,0.0,141.0,360.0,1.0

# Preparation de nos variables encoder

In [38]:
X = df_concat.drop('Loan_Status', axis=1)
y = df_concat['Loan_Status']